<div class="mt-2 py-20 pt-lg-32 bg-dark rounded-bottom-10 overflow-hidden position-relative z-1 min-default">
    <br>

    <div class="container mw-screen-xl">

        <div class="row g-6 g-lg-20 my-10">
            <div class="col-md-4">
                <div class="card shadow-none border-0">
                    <img src="/assets/natureza.png" class="card-img-top" alt="...">
                    <div class="card-body p-7">
                        <h5 class="card-title">Amante da natureza</h5>
                        <p class="card-text">Amante da natureza e escuteiro a mais de 10 anos, sempre que há
                            oportunidade vou em acampamento para o interior de Angola.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-none border-0">
                    <img src="/assets/por_sol.png" class="card-img-top" alt="...">
                    <div class="card-body p-7">
                        <h5 class="card-title">Fotografias</h5>
                        <p class="card-text">Por viver na capital e litoral, pelo menos uma vez na semana vou a ilha de
                            Luanda contemplar o por do sol e fazer Fotografias.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-none border-0">
                    <img src="/assets/book.png" class="card-img-top" alt="...">
                    <div class="card-body p-7">
                        <h5 class="card-title">Leitura</h5>
                        <p class="card-text">Vivendo e aprendendo a cada dia, navegando pelo mundo atravez da leitura de
                            livros
                            de diversos contextos e temas
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
</div>