<div class="container">
    <div class="overflow-x-hidden rounded-top-4 pt-2 pt-lg-4">
        <header>
            <div
                class="w-lg-75 mx-2 mx-lg-auto position-relative z-2 px-lg-3 py-0 shadow-5 rounded-3 rounded-lg-pill bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark p-0" id="navbar">
                    <div class="container px-sm-0"><a class="navbar-brand d-inline-block w-lg-64" href="#"><img
                                src="/assets/profile.png" class="h-rem-10" width="50"> </a><button
                            class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav gap-2 mx-lg-auto">
                                <li class="nav-item">
                                    <a routerLink="/quem-sou" routerLinkActive="activebutton"
                                        ariaCurrentWhenActive="page" class="nav-link rounded-pill" aria-current="page">
                                        Quem Sou
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/o-que-faco" routerLinkActive="activebutton"
                                        ariaCurrentWhenActive="page" class="nav-link rounded-pill">
                                        O que Faço
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/meus-hobbies" routerLinkActive="activebutton"
                                        ariaCurrentWhenActive="page" class="nav-link rounded-pill">
                                        Hobbies
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <!-- Carregamento de todos os componentes -->
    <router-outlet></router-outlet>


    <div class="overflow-x-hidden rounded-top-4 pt-2 pt-lg-4">
        <footer>
            <div
                class="w-lg-75 mx-2 mx-lg-auto position-relative z-2 px-lg-3 py-0 shadow-5 rounded-3 rounded-lg-pill bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark p-0" id="navbar">
                    <div class="container py-3">
                        <ul class="navbar-nav gap-2 mx-lg-auto">

                            <li class="nav-item">
                                <a href="https://www.linkedin.com/in/jmcabanga" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="/assets/icons/linkedin.png" class="h-rem-10" width="40">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.instagram.com/jmcabanga/" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="/assets/icons/instagram.png" class="h-rem-10" width="40">
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="https://twitter.com/manucabanga" target="_blank" rel="noopener noreferrer">
                                    <img src="/assets/icons/twitter.png" class="h-rem-10" width="40">
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </footer>
    </div>
</div>