/* You can add global styles to this file, and also import other style files */

code {
    color: #a57f5c !important;
}

.text-default {
    font-size: 30px;
}

.min-default {
    min-height: 60vh;
}